APP_NAME=tts-inference-service
APP_VERSION=0.1.0
ENVIRONMENT=local
LOG_LEVEL=INFO
HOST=0.0.0.0
PORT=8000
MODEL_STORE_DIR=model_store
INDIC_MODEL_ID=ai4bharat/indic-parler-tts
BARK_MODEL_ID=suno/bark-small
DEVICE=auto
TORCH_DTYPE=float16
LOAD_MODELS_ON_STARTUP=true
WARMUP_ON_STARTUP=true
MAX_TEXT_CHARS=1000
OUTPUT_SAMPLE_RATE=24000
DEFAULT_BARK_VOICE=v2/en_speaker_6

